#Byte-compiled / optimizwd / DLL files
__pycache__/
*.py[cod]
*.zip
*$py.class

#Distribution / packaging
.Python

#virtualenv
.venv
venv/
ENV/

#IDE settings
.idea/
.vscode/
local.log
.pytest_cache

#report
reports/

#pyenv
.python-version
